# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c

osx_image: xcode8.3
xcode_sdk: iphonesimulator10.3
xcode_scheme: LinEqua-Example
xcode_workspace: Example/LinEqua.xcworkspace

cache: cocoapods
podfile: Example/Podfile

before_install:
- gem install cocoapods # Since Travis is not always on latest version
- pod install --project-directory=Example

script:
- set -o pipefail && xcodebuild clean build test -workspace Example/LinEqua.xcworkspace -scheme LinEqua-Example -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.3.1' | xcpretty
- pod lib lint
